body > div.container > main {
	flex: 1;
	display: inherit;
	flex-direction: inherit;
}

body > div.container > main > nav > h1 {
	display: none;
}

body > div.container > section > main > article > header {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: rgba(0, 0, 0, 0.125);
	margin-bottom: 1em;
}

body > div.container > main > footer {
	margin-top: auto;
}

body > div.container > main > footer > nav > h1 {
	display: none;
}
