body > section {
	display: flex;
	flex-direction: column;
}

body > section.container > section {
	display: flex;
	flex: 1;
}

/* This only serves for outlining, hide it from visual display. */
body > section.container > section > h1 {
	display: none;
}

body > section.container > section > section {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-left: 1em;
}

body > section.container > section > nav {
	width: 15em;
	flex-shrink: 0;
	order: -1;  /* Move the navigator left from the article */
}

body > section.container > section > nav > h1 {
	display: none;
}


body > section.container > section > nav > nav > h1 {
	font-size: 1.5em;
}

body > section.container > section > nav > aside > h1 {
	display: none;
}

body > section.container > section > nav > nav ul {
	list-style: none;
	padding-left: 0.5em;
}


.blog-breadcrumbs > ol {
	margin-bottom: 0;
}

.blog-breadcrumbs > h1 {
	display: none;
}

/* ---[ Limit the width of elements in the post ]--------------------------- */

/* Making it the only child ensures we don't also affect images that flow with
 * some text */
main > article > p > img:only-child , main > article > p > a:only-child > img:only-child {
	max-width: 90%;  /* Limit width */
	height: auto;

	display:block;  /* center the image */
	margin-left: auto;
	margin-right: auto;
}
/* ------------------------------------------------------------------------- */


/* For small displays we need some adjustments. The navigator and the articles
 * next to each other are too wide, so we change the layout to vertical. We
 * also move the navigator beneath the articles. The navigator itself has all
 * the lists hidden because they would take up too much vertical space. Instead
 * we leave only the headings, the user can click those to get taken to the
 * archives directly. */
@media(max-width: 768px) {
	/* Re-arrange the articles and navigator vertically */
	body > section.container > section {
		flex-direction: column;
	}

	/* The navigator comes after the articles now. */
	body > section.container > section > nav {
		order: 0;
		width: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	body > section.container > section > nav > nav > h1 {
		margin-top: 0;
	}

	/* Hide the navigator lists, they are too large */
	body > section.container > section > nav > nav ul {
		display: none;
	}

	/* Push the aside onto the next line */
	body > section.container > section > nav > aside {
		flex: 0 1 100%;
	}
}
