/* The following colour values are being used:
 *   - Pager elements: #18bc9c
 *   - Blog navigation background: #ecf0f1
 */

div.blog {
	display: grid;
	grid-template:
		"nav breadcrumbs" minmax(0px, auto)
		"nav main" 
		"nav pager" minmax(0px, auto) / 15em auto;
	grid-gap: 0em 1em;
	margin-bottom: 1em;
}


/* ---[ Blog navigation ]--------------------------------------------------- */
nav.blog-navigation {
	grid-area: nav;
	padding: 19px;
	background-color: #ecf0f1;
	border-radius: 4px;
}

nav.blog-navigation > aside > span { font-weight: bold; }

nav.blog-navigation > nav > h1 { font-size: 1.5em; }

nav.blog-navigation > nav > ul {
	list-style: none;
	padding-left: 0.5em;
}
/* ------------------------------------------------------------------------- */


/* ---[ Blog breadcrumbs ]-------------------------------------------------- */
nav.breadcrumbs > ol {
	margin: 0;
	padding: 0.5em 1em;
	list-style: none;
	background-color: #ecf0f1;
	border-radius: 0.3em;
	grid-area: breadcrumbs;
}

nav.breadcrumbs > ol > li {
	display: inline-block;
	color: #95a5a6;
}
nav.breadcrumbs > ol > li:after {
	content: "\00a0/\00a0";
	padding: 0 0.25em;
	color: #cccccc;
}

nav.breadcrumbs > ol > li > a { text-decoration: none; }
nav.breadcrumbs > ol > li > a:hover { text-decoration: underline; }
/* ------------------------------------------------------------------------- */


/* ---[ Main blog area ]---------------------------------------------------- */

/* Set min-width to 0 or else it will be as large as the content. Background:
 * by default the min-width of a flex item is set to auto, which means the
 * container will be at least large enough to fit in all its content. This is a
 * problem when the content contains a large <pre>; in that case the <pre> will
 * stretch the container horizontally instead of being limited in size and
 * displaying a horizontal scrollbar. */
main { grid-area: main; min-width: 0; }

main article > header {
	border-bottom: solid 1px rgba(0, 0, 0, 0.125);
	margin-bottom: 1em;
}

main article > header > p { margin: 0; }

main.blogpost-listing > ul {
	list-style: none;
	padding: 0;
}
/* ------------------------------------------------------------------------- */


/* ---[ Pager (previous & next post) ]-------------------------------------- */
nav.blog-pager {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

nav.blog-pager > a {
	color: #fff;
	text-decoration: none;
	background-color: #18bc9c;
	padding: 0.25em 1em;
	border-radius: 2em;
	text-align: center;
}
nav.blog-pager > a:last-child { margin-left: auto; }
nav.blog-pager > a:focus { background-color: #0f7864; }
nav.blog-pager > a:hover { background-color: #-1f7864; }
nav.blog-pager > a[hidden] { display: none; }

@media(max-width: 768px) { nav.blog-pager { margin-bottom: 1em; } }
/* ------------------------------------------------------------------------- */


/* ---[ Limit the width of elements in the post ]--------------------------- */
/* Making it the only child ensures we don't also affect images that flow with
 * some text */
main > article > p > img:only-child , main > article > p > a:only-child > img:only-child {
	max-width: 90%;  /* Limit width */
	height: auto;

	display:block;  /* center the image */
	margin-left: auto;
	margin-right: auto;
}
/* ------------------------------------------------------------------------- */


/* For small displays we need some adjustments. The navigator and the articles
 * next to each other are too wide, so we change the layout to vertical. We
 * also move the navigator beneath the articles. The navigator itself has all
 * the lists hidden because they would take up too much vertical space. Instead
 * we leave only the headings, the user can click those to get taken to the
 * archives directly. */
@media(max-width: 768px) {
	/* Re-arrange the articles and navigator vertically */
	div.blog {
		grid-template:
			"breadcrumbs"
			"main"
			"pager"
			"nav" / auto;
	}

	main { margin-bottom: 1em; }

	nav.blog-navigation {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	nav.blog-navigation > aside { flex-basis: 100%; }
	/* Hide the navigator lists, they are too large */
	nav.blog-navigation > nav > ul { display: none; }
}


/* ###[ Blog post index ]################################################### */
nav.paginator {
	display: flex;
	justify-content: center;
}
nav.paginator > ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 0;
}
nav.paginator > ul > li > a {
	float: left;
	padding: 10px 15px;
	color: #ffffff;
	background-color: #18bc9c;
	text-decoration: none;
}
nav.paginator > ul > li.active > a,
nav.paginator > ul > li > a:hover,
nav.paginator > ul > li > a:focus {
	background-color: #0f7864;
}
nav.paginator > ul > li:first-child > a { border-radius: 4px 0 0 4px; }
nav.paginator > ul > li:last-child  > a { border-radius: 0 4px 4px 0; }

@media(max-width: 768px) { nav.paginator > ul { margin-bottom: 1em; } }


/* ###[ Archive ]########################################################### */
div.blog > main#archive > ul { padding: 1em 0; }
div.blog > main#archive ul { list-style: none; }
