/* The main container of the page. */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body > h1 {
	display: none;
}

p {
	text-align: justify;
}

/* ---[ Source cod display ]------------------------------------------------ */
pre {
	background-color: #002b36;
	overflow-x: auto;
	word-wrap: normal;
	white-space: pre;
}
pre > code {
	color: #93a1a1;
}
/* ------------------------------------------------------------------------- */

body > section {
	flex: 1;
}

body > section > h1 {
	display: none;
}
