/* Product-cards for all the products. A card displays an image of the product,
 * a short text description and a button with a link to learn more about the
 * product. Each product is wrapped inside a plain '<article>', which are all
 * wrapped inside a '#products' element, and each product in a '<div>' element.
 * */


#products {
	display: flex;
	flex-wrap: wrap;
	margin: -2em 0 2em -2em;
}

#products > h1 {
	display: none;
}

#products > article {
	flex: 0 0 33.3333%;
	display: flex;
	/* Style the appearance of the card */
	padding: 2em 0 0 2em;
}

#products > article > div {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	border: 1px solid #E7ECEE;
	border-radius: 0.5rem;
}

#products > article > div > p {
	padding: 0.5em;
}

#products > article > div > img {
	/* Move the image in front of the text, center cross-wise (horizontally) */
	order: -1;
	align-self: center;
	/* Style the appearance of the image */
	width: 330px;
	border-radius: 0.5rem;
}

#products > article > div > p.link {
	margin-top: auto;  /* Stick the button to the card */
}

@media (max-width: 768px) {
	#products > article > div > img {
		width: auto;
	}

	#products > article {
		flex: 0 0 100%;
	}
}
