ul.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	padding: 0;
	list-style: none;
}

ul.gallery > li > a {
	display: block;
	padding: 4px;
	border: 1px solid #ecf0f1;
	border-radius: 4px;
	transition: border .2s ease-in-out;
}
ul.gallery > li > a:hover, ul.gallery > li > a:focus {
	border: 1px solid #18bc9c;;
}
ul.gallery > li img { max-width: 100%; }

@media(max-width: 992px) { ul.gallery { grid-template-columns: 1fr 1fr 1fr; } }
@media(max-width: 767px) { ul.gallery { grid-template-columns: 1fr 1fr; } }
