div.billboard {
	padding: 48px 60px;
	margin-bottom: 30px;
	border-radius: 6px;
	background-color: #ecf0f1;
	font-size: 23px;
}

div.billboard > h1 { font-size: 3em; }

@media(max-width: 767px) {
	div.billboard { padding: 30px 15px; }
	div.billboard > h1 { font-size: 2em; }
}


/* Product-cards for all the products. A card displays an image of the product,
 * a short text description and a button with a link to learn more about the
 * product. Each product is wrapped inside a plain '<article>', which are all
 * wrapped inside a '#products' element, and each product in a '<div>' element.
 * */
#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#products > h2 {
	display: none;
}

#products > article {
	flex: 0 0 32%;
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	border: 1px solid #E7ECEE;
	border-radius: 0.5rem;
	margin-bottom: 1em;
}

#products > article > p {
	padding-bottom: 0.5em;
}

#products > article > img {
	/* Move the image in front of the text, center cross-wise (horizontally) */
	order: -1;
	align-self: center;
	/* Style the appearance of the image */
	width: 330px;
	max-height: 145px;
	max-width: 100%;
	border-radius: 0.5rem;
	/* Preserve aspect ratio, clipping off top and bottom */
	object-fit: cover;
}

#products > article > p.link {
	margin-top: auto;  /* Stick the button to the card */
}

#products > article > p.link > a {
	color: #ffffff;
	background-color: #95a5a6;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 4px;
}

#products > article > p.link > a:hover {
	background-color: #798d8f;
}

@media (max-width: 768px) {
	#products > article > img {
		width: auto;
	}

	#products > article {
		flex: 0 0 100%;
	}
}
