body {
	background-color:#EFEFEF;
	font-family:"Helvetica Neue", "Helvetica", "Verdana", "sans-serif";
}

/*Main Content*/

#maincontent {
	position:relative;
	display:block;
	width:60em;
	background-color:#F9F9F9;
	top:0.5em;
	margin-left:auto;
	margin-right:auto;
	font-family:Helvetica;
	text-align:justify;
	min-height:550px;
	height:auto;
	font-size:1em;
	padding-top:1em;
	padding-bottom:10px;
}

#maincontent h1 {
	text-transform:capitalize;
	clear:both;
	font-size:2em;
	margin:1em 0.5em 0.5em 0.5em;
}

#maincontent p {
	line-height:1.5em;
	margin:0em 1em 0.5em 1em;
}

#maincontent ul {
	margin-top:0em;
	margin-left:1em;
}

#maincontent iframe {
	float:left;
	width:336px;
	height:189px;
	margin-right:1em;
	margin-bottom:2em;
	margin-left:1em;
	border-image-source:initial;
	border-image-slice:initial;
	border-image-width:initial;
	border-image-outset:initial;
	border-image-repeat:initial;
	border:1px solid #000000;
}

/*Gallery*/

.screenshotgallery {
	white-space:normal;
	font-size:0;
	text-align:left;
}

.screenshotgallery a {
	display:inline-block;
}

