/*---------------+
 |    Sub-Bar    |
 +---------------*/

#toolbar {
	position:relative;
	height:2em;
	line-height:2em;
	list-style-type:none;
	padding-bottom:0.25em;
	text-transform:capitalize;
	color:#4C4C4C;
	font-weight:bold;
	margin-bottom:0em;
	width:60em;
	margin-left: auto;
	margin-right:auto;
	padding-right:0;
	padding-left: 0;
	text-align:center;
	border-bottom:1px solid #000000;
}

#toolbar li {
	float:right;
	margin:0em 0em 0em 1em;
}

#toolbar li a {
	color:#4C4C4C;
	text-decoration:inherit;
}

#toolbar li a:hover {
	text-decoration:underline;
}

#toolbar li.button {
	display:block;
	width: 6em;
	padding-left: 1em;
	padding-right:1em;
	margin-right:1em;
	background-image:url(images/button/Button.svg);
	background-repeat: no-repeat;
	background-size:auto 2em;
	background-repeat:no-repeat;
	background-clip:padding-box;
	/*outline: solid 1px black;*/
}

#toolbar li.button a {
	text-decoration:none;
}

#toolbar li.button:hover {
	background-image:url(images/button/ButtonHover.svg);
}

#toolbar li.button:active {
	kackground-image:url(images/button/ButtonPressed.svg);
}

