/* All general theme settings */
@import "tailwindcss";

@theme {
	--color-primary-50:  #EFF6FF;
	--color-primary-100: #DBEAFE;
	--color-primary-200: #BFDBFE;
	--color-primary-300: #93C5FD;
	--color-primary-400: #60A5FA;
	--color-primary-500: #3B82F6;
	--color-primary-600: #2563EB;
	--color-primary-700: #1E4A8A;
	--color-primary-800: #12325B;
	--color-primary-900: #0B1F3A;
}
