/* DIV containing examples */
div.example {
	display: flex;
	flex-direction: row-reverse;
}

div.example > iframe {
	margin-right:1em;
	margin-bottom:2em;
	margin-left:1em;
	border:1px solid #000000;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 992px) {
	div.example { flex-direction: column; }
	div.example > iframe { align-self: center; }
}
