.blog-body > section > main {
	padding-left: 0;
	margin-left: 1em;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.blog-body > section > main > nav > h1 {
	display: none;
}

.blog-body > section > main > article > header {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: rgba(0, 0, 0, 0.125);
	margin-bottom: 1em;
}

.blog-body > section > main > footer {
	margin-top: auto;
}

.blog-body > section > main > footer > nav > h1 {
	display: none;
}
