/* The main container of the page. */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body > h1 {
	display: none;
}

p {
	text-align: justify;
}

body > section {
	flex: 1;
}

body > section > h1 {
	display: none;
}

body > footer {
	/* This will push the footer all the way down */
	background-color: rgb(51,51,51);
	padding-top: 15px;
	padding-bottom: 15px;
}

body > footer .footer-self img.copyright-image {
	height: 1em;
}

body > footer .footer-social {
}

body > footer img {
	height: 55px;
}

#main-navbar > h1 {
	display: none;
}
