/* Every blog page */
@import "tailwindcss";
@import '../../theme.css';

body {
	/* Pushes the footer down to the bottom */
	@apply flex flex-col h-screen justify-between ;
}

body > div.blog {
	@apply max-w-7xl w-full mx-auto px-4 py-2 mb-auto;
	display: grid;
	grid-gap: 0em 1em;
	align-content: start;

	@apply grid-cols-1 grid-rows-[auto_1fr_auto_auto];
	@apply md:grid-cols-[auto_1fr] md:grid-rows-[auto_1fr_auto];

	nav#breadcrumbs {
		@apply row-1 md:col-2 md:row-1;
		@apply py-2 rounded-lg;
		> ol {
			@apply px-4;
			@apply flex flex-row list-none ;
			> li {
				@apply after:content-['/'] after:px-2;
			}
		}
	}

	/* Navigation below the blog post, either pagination or next/previous post */
	nav#post-navigation {
		@apply row-3 md:col-2 md:row-3;
	}

	/* The actual page content */
	main {
		@apply row-2 md:col-2 md:row-2;
	}

	/* The navigation side bar */
	nav#blog-navigation {
		@apply row-4 md:col-1 md:row-span-full;
		@apply rounded-lg p-4;
		@apply flex md:block justify-between flex-wrap;
		> aside {
			@apply basis-full;
		}
		h2 {
			@apply mbs-4;
		}
		ul {
			@apply ps-4 list-none sr-only md:not-sr-only;
		}
	}

	nav#breadcrumbs, nav#blog-navigation {
		@apply bg-white dark:bg-gray-800;
	}
}
